.calculator_container {
    font-size: 1.2em;

    .row {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .calculator_question, .calculator_results, .calculator_finish {
        display: none;
    }

    .calculator_question.active {
        display: block;
    }
}