{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1>Bonjour ZOL !</h1>
        <section>
            <button class="btn btn-info btn-lg startTestButton">Commencer le test</button>
        </section>
        <section id="calculator_container"></section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(window).load(function(){
            calulator = new Calculator({
                container_selector: '#calculator_container',
            });

            $('.startTestButton').on('click', function(){
                $(this).hide();
                calulator.init();
            });
        });
    </script>
{% endblock %}